<!-- Signon View -->
<div class="row">
    <div class="col-sm-8 col-md-4 col-md-offset-2">
        <h2>Please Signon</h2>
        <br>
        <form name="signonForm" ngController="signonController">
            <div class="form-group">
                <label for="emailAddress">Email address</label>
                <input type="email" class="form-control"  id="emailAddress" placeholder="Enter email"
                       required ng-model="email" name="emailAddress">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password"
                       required ng-model="password" name="password">
            </div>

            <div class="row">
                <div class="col-xs-4 ">
                    <button type="submit" class="btn btn-primary"  ng-click="signon()">Signon</button>
                </div>
                <div class="col-xs-4 col-xs-offset-4">
                    <button type="button" class="btn"  ng-click="resetForm()">Reset</button>
                </div>

            </div>
            <h3><span class="label label-warning" ng-show="errorMessage" >{{errorMessage}}</span></h3>
        </form>
    </div>
</div>

