<!-- Aoubt View -->
<div class="row">
    <div class="col-sm-8 col-md-4 col-md-offset-2">
        <h2>About Rate A Meeting</h2>
        <p>Rate A Meeting Version 0.1.0 </p>
        <p><b>BETA Version 1</b> - Now open for business! Feel free to sign up, add meetings
            and allow people to rate meetings using the meeting number (nnn-nnn) or a simple link.</p>

        <p><a href="{{signOnPrefix}}#/signUp/" ><b>It's free!</b> Sign up today.</a></p></p>

        <p><a href="#/help/contact">Contact us...</a></p>

    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-4 col-md-offset-2">


        Planned - Beta 1.3 (v 0.1.3)
        <ul>
            <li>Weekly repeating meetings - each with same six digit Meeting Number</li>
            <li>Option to specify a six digit Meeting Number for a meeting, such as 123-456, or 777-777 </li>
        </ul>


        Planned - Beta 1.4 (v 0.1.4)
        <ul>
            <li>Provide an "undo" function after a meeting is rated.</li>
            <li>If a person is signed on while rating a meeting, save their userId with the vote.</li>
        </ul>

        Other Ideas <a href="#/help/contact">(let us know if you like any of these</a>):
        <ul>
            <li>Move all data display formatting to server</li>
            <li>Use stars in ratings instead of numbers 1 through 5</li>
            <li>Show more details on Meeting Ratings - maybe histogram?</li>
            <li>In list views, make description a link to the detail display</li>
            <li>Show previous Meeting Ratings you've made while signed on </li>
            <li>Option to limit Ratings to signed on users</li>
            <li>Don't allow a signed on person to Rate a particular meeting more than once</li>
            <li>Feedback confirmation page</li>
            <li>Replace sign_on and sign_up views with data_details view</li>
            <li>Option to make meeting rating results public via either the Meeting Number or a more secure ID</li>
            <li>On Sign On page, if already signed on, give user option to sign off</li>
            <li>Other? <a href="#/help/contact">Let us know!</a> </li>
        </ul>

        ----- Previous Releases ----- <br>

        Completed 1/5/2014 - Beta 1.2 (v 0.1.2)
        <ul>
            <li>Add "verify" button to home page rating section, to allow verifying meeting number before voting.</li>
            <li>If a meeting number is verified on home page or pre-populated on voting page, show description</li>
            <li>Stay signed on even if window is refreshed (allow read of user info without userId as long as there is an active session)</li>
            <li>Other cleanup to remove views, js no longer used from cloud server</li>
        </ul>

        Completed 12/31/2013 - Beta 1.1 (v 0.1.1)
        <ul>
            <li>Don't cache data for Current Meetings</li>
            <li>Fixed problems with IE Caching too much</li>
        </ul>

        Completed 12/30/2013 - Beta Version 1.0 (v 0.1.0)
        <ul>
            <li>Edit Meetings</li>
            <li>Delete Meetings</li>
            <li>Generate six digit code for meetings</li>
            <li>Allow meetings to be rated</li>
            <li>Allow downloading meetings for Excel</li>
        </ul>

        Completed 12/28/2013 (v 0.0.3):
        <ul>
            <li>Allow Add and Copy of Meetings</li>
            <li>Show actual meetings for an account - current, future, past</li>
        </ul>

        Completed 12/27/2013 (v 0.0.2):
        <ul>
            <li>Help functions: Contact Us - actually save entered information</li>
            <li>Add MongoDB index to expire sessions</li>
            <li>Sign off - terminate session</li>
            <li>Verify session when hard linking to app</li>
            <li>Profile Edit - save data, allow change of email address and password</li>
        </ul>

        Completed 12/24/2013 (v 0.0.1):
        <ul>
            <li>Sign up</li>
            <li>Sign on</li>
            <li>Help functions: FAQ, About</li>
        </ul>

    </div>
</div>



